body{
    background-color: #f0f2f5;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

.a-sidebar{
    color: #ffffff !important;
}

/* header */
.pull-left{
    position: fixed;
    z-index: 99 !important;
    left: 238px;
    top: 5px;
    background-color: #242635 !important;
}

.pull-left span{
    background: #fffbfb !important;
}

.header-content{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.header-button-menu{
    border: none;
    background-color: #fff;
    margin-right: 30px;
    margin-top: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
    z-index: 1;
}

.header-content .header-menu .header-button-menu span{
    background-color: black;
    text-align: center;
    display: block;
    margin: 0 auto 6px;
    height: 1px;
    width: 18px;
}

.menu-search {
    display: flex;
    align-items: center;
}

.menu-profile{
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu-profile div{
    padding-left: 10px;
}

/* sidebar */
.header-sidebar-menu{
    position: fixed;
    top: 0;
    left: -90%;
    width: 305px;
    background-color: #242635;
    z-index: 99;
    height: 100%;
}

.header-sidebar-menu .sidebar-header{
    padding: 20px 32px 20px;
    border-bottom: 1px solid #3e3f4c;
}

.header-sidebar-menu .sidebar-header .sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pull-left span:first-child{
    transform: rotate(90deg) translate(5px, 5px);
}

.pull-left span:nth-child(2){
    opacity: 0;
}

.pull-left span:nth-child(3){
    transform: rotate(90deg) translate(-9px, -3px);
}

.sidebar-pull-left{
    position: fixed;
    top: 0;
    left: 0;
    width: 305px;
    background-color: #242635;
    z-index: 99;
}

/* accordion bs */
.sidebar-menu .accordion{
    --bs-accordion-bg: #242635;
}

.sidebar-menu .accordion .accordion-item{
    border: none;
}

.sidebar-menu .accordion .accordion-item button::after{
    color: #fff;
}

.sidebar-menu .accordion .accordion-item button span{
    color: #fff;
}

.sidebar-menu .accordion .accordion-item button svg{
    color: #fff;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background-color: #2a2d41;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after{
    background-image: none;
}

.accordion-button::after{
    background-image: none;
}

.sidebar-menu .accordion-item .accordion-button a img{
    height: 22px;
    width: 22px;
}

.sidebar-menu .accordion-item .accordion-button a{
    position: absolute;
    right: 10px;
}

.sidebar-menu .accordion-item .accordion-button:not(.collapsed) img {
    transform: rotate(180deg);
}

.sidebar-menu .accordion .accordion-collapse .accordion-body li a{
    color: #b5b4b4;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 400;
}

.sidebar-menu .accordion .accordion-collapse .accordion-body li:hover a{
    color: #fff;
}

.sidebar-menu .accordion .accordion-collapse .accordion-body{
    display: grid;
}

.sidebar-menu .accordion .accordion-collapse .accordion-body li{
    border-left: 2px solid #434452;
}

/* main content */
.main-content{
    padding: 25px 82px 25px 82px; 
}
